//Copyright (C)2014-2023 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//Tool Version: V1.9.9 (64-bit)
//Part Number: GW1N-UV4LQ144C6/I5
//Device: GW1N-4
//Device Version: B
//Created Time: Wed 07 30 22:39:30 2025

IO_LOC "segDig[3]" 7;
IO_PORT "segDig[3]" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "segDig[2]" 141;
IO_PORT "segDig[2]" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "segDig[1]" 140;
IO_PORT "segDig[1]" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "segDig[0]" 137;
IO_PORT "segDig[0]" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "seg[7]" 10;
IO_PORT "seg[7]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "seg[6]" 8;
IO_PORT "seg[6]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "seg[5]" 139;
IO_PORT "seg[5]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "seg[4]" 12;
IO_PORT "seg[4]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "seg[3]" 11;
IO_PORT "seg[3]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "seg[2]" 9;
IO_PORT "seg[2]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "seg[1]" 142;
IO_PORT "seg[1]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "seg[0]" 138;
IO_PORT "seg[0]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "nRst" 58;
IO_PORT "nRst" PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "clkSel[1]" 75;
IO_PORT "clkSel[1]" PULL_MODE=NONE BANK_VCCIO=1.8;
IO_LOC "clkSel[0]" 76;
IO_PORT "clkSel[0]" PULL_MODE=NONE BANK_VCCIO=1.8;
IO_LOC "clkBtn" 65;
IO_PORT "clkBtn" PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "clk" 4;
IO_PORT "clk" PULL_MODE=NONE BANK_VCCIO=1.8;
IO_LOC "testIn" 64;
IO_PORT "testIn" PULL_MODE=UP BANK_VCCIO=1.8;
